.idea/

auth/
bitrix/
content/
e-store/
examples/
images/
personal/
search/
upload/


.access.php
.htaccess
.section.php
404.php
auth.php
btest.conf
favicon.ico
index.php
index_inc.php
robots.txt
sect_inc.php
urlrewrite.php
web.config